{% extends "base.html" %}

{% block content %}
<div class="content">
	<p><a href="/tags/">All tags</a></p>
	<h1>Posts tagged: #{{ term.name }}</h1>

	<div class="posts">
		{% for page in term.pages %}
		<article class="post">
			<h2><a href="{{ page.path }}">{{ page.title }}</a></h2>
			<div>
				<div class="post_date">{{ page.date | date(format="%B %e, %Y") }}</div>
				{% set word_count = page.content | wordcount %}
				<div class="reading_time" title="{{ word_count }} words">{{ word_count / 200 | round }} minute read</div>
			</div>
			<div class="entry">
				{{ page.content | striptags | truncate(length=200) | safe }}
			</div>
			<a href="{{ page.path }}" class="read-more">Read More</a>
		</article>
		{% endfor %}
	</div>
</div>
{% endblock content %}
