{% extends "base.html" %}

{% block content %}
<div class="post">
	<h1>404 - Page not found</h1>

	<p>This page is dead.</p>

	<p>Like the mayor of toytown.</p>

	<p>
		<a href="https://megadodo.bandcamp.com/album/the-mayor-of-toytown-is-dead" target="_blank">
		<img alt="the mayor of toytown lies dying, like the page you were looking for"
		src="/assets/the-mayor-of-toytown.jpg"/></a>
	</p>

	<p>
		Why not cheer yourself up by buying
		<a href="https://megadodo.bandcamp.com/album/the-mayor-of-toytown-is-dead"
		target="_blank">my friend's wonderful album</a>.
	</p>

	<p>
		If the page was something you really wanted and can't find then <a href="/contact">get in touch</a> as I probably have no idea it's gone or that anyone cared!
	</p>
</div>
{% endblock content %}
