    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.summary %}
    <meta name="description" content="{{ page.summary | striptags }}" />
    <meta property="og:description" content="{{ page.summary | striptags }}" />
    {% elif page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:description" content="{{ config.description }}" />
    {% endif %}
    <meta name="author" content="{{ config.extra.author | default(value=config.title) }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.extra.image %}
    <meta property="og:image" content="{{ config.base_url }}{{ page.extra.image }}"/>
    <meta property="twitter:image" content="{{ config.base_url }}{{ page.extra.image }}"/>
    {% else %}
    <meta property="og:image" content="{{ config.base_url }}/assets/tim-in-a-box.jpg"/>
    <meta property="twitter:image" content="{{ config.base_url }}/assets/tim-in-a-box.jpg"/>
    {% endif %}
    <meta property="og:site_name" content="{{ config.title }} - {{ config.description }}"/>
