{% if config.extra.social.email %}<a rel="me" href="mailto:{{ config.extra.social.email }}"><i class="svg-icon email"></i></a>{% endif %}

{% if config.extra.social.linkedin %}<a rel="me" href="https://www.linkedin.com/in/{{ config.extra.social.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}

{% if config.extra.social.mastodon %}<a rel="me" href="{{ config.extra.social.mastodon }}"><i class="svg-icon mastodon"></i></a>{% endif %}

{% if config.extra.social.twitter %}<a rel="me" href="https://www.twitter.com/{{ config.extra.social.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
